<p><%= t(:'devise.mailer.reset_password.title', :email => @resource.email) %></p>

<p><%= t(:'devise.mailer.reset_password.description') %></p>

<p><%= link_to t(:'devise.mailer.reset_password.link'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t(:'devise.mailer.reset_password.advice') %></p>
